<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>

    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">

    <script>
        ons.bootstrap()
          .controller('AppController', function() {
            this.pushes = 0;
            this.pops = 0;
          });
        /*ons.ready(function() {
            console.log("Onsen UI is ready!");
        });*/
        
        function hp_link() {
            window.open('★URL★' , '★target★', '★options★');
        };
    </script>
    <script src="js/main.js"></script>
</head>
<body>
    <ons-page>
        <ons-navigator
          var="navi"
          page="page.html"
          ng-controller="AppController as app"
          ons-postpush="app.pushes = app.pushes + 1"
          ons-postpop="app.pops = app.pops + 1">
        </ons-navigator>
    </ons-page>

    <ons-template id="page.html">
      <ons-page>
        <!-- <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">Navigation</div>
        </ons-toolbar> -->
        
        <div id="header">
            
                <ons-button  ng-click="navi.pushPage('')" class="icon">
                    <img src="img/icon_white.png" alt="icon" />
                </ons-button>
                <div onclick="link();" class="title">
                    <img src="img/title2.png" alt="title" />
                </div>
                    

                
                <!-- <ons-button  onclick="hp_link();">
                   <img src="img/link.png" alt="link" >
                </ons-button> -->
            </div>

            <!-- <div class="about">
               <ons-button  ng-click="navi.pushPage('')">
                   <img src="img/i.png" alt="i" />
               </ons-button>
            </div> -->
        </div>
        
        
        <div id="info">
            <div class="contents_title">
                お知らせ
            </div>
            <div class="update">
                <table  id="information">
                    <tr>
                		
                	</tr>
                </table>
            </div>
        </div>
        
        <div id="contents">
            <div id="movie">
                <div class="contents_title">
                    星陵高校ムービーライブラリー
                </div>
                <table class="item">
                    <tr>
                        <td>
                            <ons-button  onclick="";">
                                <img src="img/sports.png" alt="sports" >
                                <br>運動部
                            </ons-button> 
                        </td>
                        <td>
                            <ons-button  onclick="";">
                                <img src="img/cultual.png" alt="clutual" >
                                <br>文化部
                            </ons-button> 
                        </td><td>
                            <ons-button  onclick="";">
                                <img src="img/school.png" alt="school" >
                                <br>学園生活
                            </ons-button> 
                        </td><td>
                            <ons-button  onclick="";">
                                <img src="img/function.png" alt="function" >
                                <br>行事
                            </ons-button> 
                        </td>
                	</tr>
                </table>
            </div>
            
            <div id="info2">
                <div class="contents_title">
                    星陵高校情報・入試情報
                </div>
                <table class="item">
                    <tr>
                        <td>
                            <ons-button  onclick="";">
                                <img src="img/event.png" alt="event" >
                                <br>イベント
                            </ons-button> 
                        </td>
                        <td>
                            <ons-button  onclick="";">
                                <img src="img/entrance_examination.png" alt="ee" >
                                <br>入試
                            </ons-button> 
                        </td><td>
                            <ons-button  onclick="";">
                                <img src="img/news.png" alt="news" >
                                <br>記事
                            </ons-button> 
                        </td><td>
                            <ons-button  onclick="";">
                                <img src="img/access.png" alt="access" >
                                <br>アクセス
                            </ons-button> 
                        </td>
                    </tr>

                </table>
            </div>
            
        </div>
        
        

        <!-- <section style="padding: 10px">
          <ons-button ng-click="navi.pushPage('page.html')">
            Push Page
          </ons-button>

          <p>
            You have pushed {{ app.pushes }} times and popped {{ app.pops }} times.
          </p>
        </section> -->
      </ons-page>
    </ons-template>

</body>
</html>
