/**/

body{
    background-color: black;
}


#header{
    height: 15%;
    background: linear-gradient(#FDFDFD, #0E6DC9);
    
}


#header  div.icon{
    width: 20%;
    height: 100%;
    float: left;
    text-align: left;
    margin-right: auto;
    
}
#header > .icon > ons-button{
    background: none;
    box-shadow: none;
    width: 100%;
    top: 20%;
    left: 0;
}

#header > .icon > ons-button > img{
    max-height: 100%;
    max-width: 100%;
    
}



#header div.name_link{
    width: 75%;
    height: 70%;
    float: left;
    text-align: left;
}
#header > .name_link > ons-button{
    background: none;
    box-shadow: none;
    width: 100%;
    top: 50%;
    left: 0;
    
}
#header > .name_link > ons-button > img{
    max-height: 100%;
    max-width: 100%;
    
}

/*#header > .about{
    height: 100%;
    width: 15%;
    float: left;
    text-align: center;
}

#header > .about > ons-button{
    margin-top: 45%;
    background: none;
    border-radius: 100px;
    box-shadow: none;
}
#header > .about > ons-button > img{
    max-height: 100%;
    max-width: 100%;
}*/


#info{
    height: 38%;
    margin: 2% 2%; 
}

#info .info{
    height: 11%;
    width: 100%;
    text-align: center;

    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 2%;
}



#info .update{
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    height: 85%;
    overflow-y: scroll;
}

#info table{
    border-collapse: collapse;
    margin: 1%;
}

#info tr{
    border-bottom:1px dashed #ccc;
}

#info tr td:nth-child(1){
  width: 30%;
}
#info tr td:nth-child(2){
  width: 70%;
}
#info tr td:nth-child(2) a{
  text-decoration: none;
}

#contents{
    height: 44%;
    margin: 0 2%;
}

#contents ons-button{
    background: none;
    border-radius: 20px;
    box-shadow: none;
}

#contents img{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

#contents  #movie{
    height: 50%;
}
#contents  #info2{
    height: 50%;
}
#movie > .title{
    height: 20%;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
#info2 > .title{
    height: 20%;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}

.item{
    height: 60%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 25%;
    text-align: center;
}


.itemtext{
    width: 25%;
    margin-top: 0;
}

