/**/

body{
    background-color: black;
    width: 100%;
    height: 100vh;
}


#header{
    height: 15%;
    background: linear-gradient(#E3EAF7, #0E6DC9);
    vertical-align: middle;
    
    
    
}

#header > ons-button.icon{
    background: none;
    box-shadow: none;
    text-align: left;
    width: 23%;
    display: inline-block;

    
}

#header > ons-button.icon > img{
    text-align: left;
    max-height: 100%;
    max-width: 100%;
    
}

#header > div.title{
    width: 72%;
    display: inline-block;
    margin-top: 30px;


    
}

#header > div.title > img{
    max-height: 100%;
    max-width: 100%;
    
}
/*
#header div.icon{
    width: 20%;
    height: 100%;
    float: left;
    text-align: left;
    margin-right: auto;
    
}
#header > .icon > ons-button{
    background: none;
    box-shadow: none;
    width: 100%;
    top: 20%;
    left: 0;
}

#header > .icon > ons-button > img{
    max-height: 100%;
    max-width: 100%;
    
}



#header div.name_link{
    width: 75%;
    height: 70%;
    float: left;
    text-align: left;
}
#header > .name_link > ons-button{
    background: none;
    box-shadow: none;
    width: 100%;
    top: 50%;
    left: 0;
    
}
#header > .name_link > ons-button > img{
    max-height: 100%;
    max-width: 100%;
    
} */

/*#header > .about{
    height: 100%;
    width: 15%;
    float: left;
    text-align: center;
}

#header > .about > ons-button{
    margin-top: 45%;
    background: none;
    border-radius: 100px;
    box-shadow: none;
}
#header > .about > ons-button > img{
    max-height: 100%;
    max-width: 100%;
}*/

.contents_title{
    height: 25px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    
}


#info{
    height: 38%;
    margin: 2% 2%; 
}

#info .contents_title{
    margin-bottom: 2%;
}



#info .update{
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    height: 85%;
    overflow-y: scroll;
}

#info table{
    border-collapse: collapse;
    margin: 1%;
}

#info tr{
    border-bottom:1px dashed #ccc;
}

#info tr td:nth-child(1){
  width: 30%;
}
#info tr td:nth-child(2){
  width: 70%;
}
#info tr td:nth-child(2) a{
  text-decoration: none;
}

#contents{
    height: 44%;
    margin: 0 2%;
}

#contents ons-button{
    background: none;
    box-shadow: none;
    color: black;
}

#contents img{
    max-height: 100%;
    max-width: 100%;
    /*background-color: yellow;*/
}

#contents  #movie{
    height: 50%;
}
#contents  #info2{
    height: 50%;
}



.item{
    height: 70%;
    width: 100%;
    text-align: center;
}

